:root {
  font-family: Arial, Helvetica, sans-serif;
}

.blackBorder{
  border: 1px solid #000;
}

.mainHeader {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.mainHeader h1 {
  margin: 0;
}

.mainNav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  line-height: 2rem;
  padding: 0;
  list-style-type: none;
}

.mainNav ul a {
  display: block;
  padding-left: 3rem;
  padding-right: 3rem;
  text-decoration: none;
}

body > nav ul,
  body > main,
  body > footer > div > nav {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 576px) {
  body > nav ul,
  body > main,
  body > footer > div > nav {
    width: 540px;
  }
}

@media screen and (min-width: 768px) {
  body > nav ul,
  body > main,
  body > footer > div > nav {
    width: 720px;
  }
}

@media screen and (min-width: 992px) {
  body > nav ul,
  body > main,
  body > footer > div > nav {
    width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  body > nav ul,
  body > main,
  body > footer > div > nav {
    width: 1140px;
  }
}

@media screen and (min-width: 1400px) {
  body > nav ul,
  body > main,
  body > footer > div > nav {
    width: 1320px;
  }
}

@media screen and (min-width: 1600px) {
  body > nav ul,
  body > main,
  body > footer > div > nav {
    width: 1500px;
  }
}
